{%   extends  'main.html'   %}
{% block title %} Home {%  endblock %}


{%  block content  %}
<div class="container">
   <div class="row">
    <div class="col-6">
        <h1>Welcome Django Projects</h1>
        <p class="text" style="color: red;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
         Quo eius quaerat repudiandae atque, vel iure. Exercitationem,
          provident veniam maxime quibusdam numquam a, 
         nulla atque dignissimos recusandae ullam magnam! Amet, adipisci?</p>

         <h1>Welcome Django Apps</h1>
         <p class="text" style="color:green;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
          Quo eius quaerat repudiandae atque, vel iure. Exercitationem,
           provident veniam maxime quibusdam numquam a, 
          nulla atque dignissimos recusandae ullam magnam! Amet, adipisci?</p>

          <h1>Welcome Django Apps</h1>
          <p class="text" style="color:orange;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
           Quo eius quaerat repudiandae atque, vel iure. Exercitationem,
            provident veniam maxime quibusdam numquam a, 
           nulla atque dignissimos recusandae ullam magnam! Amet, adipisci?</p>
    </div>
   </div>
</div>
{%  endblock  %}